body {
    color : Black;
    background-color : White;
    scrollbar-3dlight-color : #999999;
    scrollbar-arrow-color : #999999;
    scrollbar-base-color : #666666;
    scrollbar-darkshadow-color : Black;
    scrollbar-face-color : #666666;
    scrollbar-highlight-color : #999999;
    scrollbar-shadow-color : #999999;
    scrollbar-track-color : #8B8B8B;
    font-family : sans-serif;
  }
  P {
    text-indent : 25px;
  }
  A {
    text-decoration: none;
    color: blue;    
  }
  A:Hover {
    text-decoration: underline;
    color: red;
  }
  A:VISITED {
    color : purple;
    text-decoration : none;
  }

